@media only screen and (max-width:640px){
    .navbar{
        position:absolute;
        justify-content: center;
        top:60px;
        left:-100%;
        width:100%;
        height: 60vh;
        flex-direction:column;
        align-items: center;
        transition: 0.3s all;
        z-index: 999;
    }
    .show{
        left:0;
    }

}

.bagBox{
    position: absolute;
    top:60px;
    width:100%;
    height: 60vh;
    overflow-y: auto;
    max-width:400px;
    z-index: 999;
    transition: 0.3s right;
}

  
  .bagBox::-webkit-scrollbar {
    width: 4px; /* Thin scrollbar width */
    height: 4px; /* Thin scrollbar height */
  }
  
  .bagBox::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); /* Thumb color */
    border-radius: 2px; /* Rounded corners */
  }
  
  .bagBox::-webkit-scrollbar-track {
    background: transparent; /* Track background */
  }
  

  